[submodule "vim/plugins/vim-airline"]
	path = vim/plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugins/vim-airline-themes"]
	path = vim/plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/plugins/auto-pairs"]
	path = vim/plugins/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/plugins/vim-surround"]
	path = vim/plugins/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/plugins/vim-matchup"]
	path = vim/plugins/vim-matchup
	url = git@github.com:andymass/vim-matchup.git
[submodule "vim/plugins/terminus"]
	path = vim/plugins/terminus
	url = git@github.com:wincent/terminus.git
[submodule "vim/plugins/night-owl.vim"]
	path = vim/plugins/night-owl.vim
	url = git@github.com:haishanh/night-owl.vim.git
[submodule "vim/plugins/vim-javascript"]
	path = vim/plugins/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/plugins/vim-jsx-pretty"]
	path = vim/plugins/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "vim/plugins/lightline.vim"]
	path = vim/plugins/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
